.tip-white {
	z-index:1000;
	text-align:left;
	border:1px solid #b3b3b3;
	min-width:50px;
	max-width:530px;
	background-color:#fff;
}
.tip-white .tip-inner {
	font:normal 13px/18px 'trebuchet ms',arial,helvetica,sans-serif;
	margin-top:-2px;
	padding:0 3px 1px 3px;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-white .tip-arrow-top {
	margin-top:-7px;
	margin-left:15px;
	top:0;
	left:0;
	width:16px;
	height:10px;
	background:url(tip-white_arrows.png) no-repeat;
}
.tip-white .tip-arrow-right {
	margin-top:-9px; /* approx. half the height to center it */
	margin-left:-4px;
	top:50%;
	left:100%;
	width:10px;
	height:20px;
	background:url(tip-white_arrows.png) no-repeat -16px 0;
}
.tip-white .tip-arrow-bottom {
	margin-top:-6px;
	margin-left:15px;
	top:100%;
	left:0;
	width:16px;
	height:13px;
	background:url(tip-white_arrows.png) no-repeat -32px 0;
}
.tip-white .tip-arrow-left {
	margin-top:-9px; /* approx. half the height to center it */
	margin-left:-9px;
	top:50%;
	left:0;
	width:10px;
	height:20px;
	background:url(tip-white_arrows.png) no-repeat -48px 0;
}